<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <clear/>
    <add key="JKRush" value="JK_Rush"/>
    <add key="ConsumerKey" value="3935721991"/>
    <add key="ConsumerSecret" value="3a78abbb4a31e2930d61907e757e385c"/>
    <add key="AccessToken" value="cf21bc9fddfe4016a9d1baf6b188f290"/>
    <add key="AccessTokenSecret" value="a04fc87a8e95e6a052e771cac1a498bc"/>
    <!--240426366-->
    <add key="AppKey" value ="3935721991"/>
    <!--a58bd5179fc0dcc3a698331ebda51c40-->
    <add key ="AppSecret" value ="3a78abbb4a31e2930d61907e757e385c"/>
    
  </appSettings>
  <!--<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Oauth4Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Oauth4Desktop.Properties.Settings>
      <setting name="app_key" serializeAs="String">
        <value>240426366</value>
        <value>2436053772</value>
      </setting>
      <setting name="app_secret" serializeAs="String">
        <value>a58bd5179fc0dcc3a698331ebda51c40</value>
        <value>346ecf83d77564f9362d7ad51af37057</value>
      </setting>
    </Oauth4Desktop.Properties.Settings>
  </userSettings>-->
</configuration>